#products{
    padding: 1.4em 0;
}

.card-product{
    display: flex;
    width: 25%;
    flex-direction: column;
    gap: 0.5em;
}

.card-product .card-img {
    width: 80%;
}

.card-product .card-img img {
    width: 100%;
    object-fit: cover;
    border-radius:0.8em;
}

.card-body{
    width: 100%;
}

@media screen and (max-width: 380px) {

    .card-product, #last > .row .card-product{
        width : 100%;
    }
}